html{background-color: #16516165 ;}
table{
	border-collapse: collapse;/*Fusionne les bordures des tableaux adjacentes*/
	background-color: white;
	width: 75%;
}
th,td,tr{
	padding: 20px;/*Esapace de 15 pixels avec les bordures aussi possible avec la droite le haut etc...*/
	color: black;
	/*border: 1px solid black; /*Affiche les bordures*/
	text-align: center;/*Centre le text par apport aux cases*/
	vertical-align: center;
	font-family:"eacolo";/*police appliqué dans les th,td,tr*/
	border-top-color: black ;
	border-bottom-color: green;
	border-right-color: purple;
	border-left-color:purple;	
	border-style:dotted;/*Style de bordure ne marche pas si on a déjà un border comme au-dessus*/
	/*  côtés horizontaux | côtés verticaux */
	/*border-style: dotted solid;
	       /* haut | côtés verticaux | bas */
	/*border-style: dashed double dashed;
	          /* haut | droite | bas | gauche */
	/*border-style: none solid dotted dashed; */
}

tbody tr:hover {background-color: #D8D8D8;}/*Met un aura sur la selection au passage de la souris*/
td:hover{background-color: #D8D8AE;}
th{background-color:#BDBDBD; }
caption h1{font-family:eacolo;}
iframe{border-right: 10px dashed yellow;
	border-left: 10px dashed blue;
	border-top: 10px dashed purple;
	border-bottom: 10px dashed green;
 }
 img{size: 50px;}


@font-face{font-family:"eacolo";
src:url(../CSS/POLICE/eacologica-round-slab-ffp.otf);
src:url(../CSS/POLICE/eacologica-round-slab-ffp.ttf);
}